# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws
.idea_modules/

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
desktop.ini

# Misc
*.log
.turbo
.vercel
*.tsbuildinfo
next-env.d.ts

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Runtime data
pids
*.pid
*.seed
*.pid.lock